
<div class="row p-15">
  <%= search_form %>
  <%= link_to  new_battle_path, class: 'btn  btn-success pull-right' do %>
    New <i class="fa fa-plus"></i>
  <%- end %>
</div>

<div class="box box-info">
  <div class="box">
    <%= render 'layouts/admin/table_header' %>
    <%= collection_table_for @battles, [:id, :historic, :actions] do |row, battle| %>
      <%- row.column(:id) { (battle.id.to_s) } %>
      <%- row.column(:historic) { (battle.historic) } %>
      <%- row.column(:actions) do %>
        <div class="btn-group btn-group-sm">
          <%= link_to battle_path(battle), class: 'btn btn-sm btn-icon btn-default' do %>
            <i class="fa fa-eye"></i>
          <%- end %>
        </div>
        <div class="btn-group btn-group-sm">
          <%= link_to  edit_battle_path(battle), class: 'btn btn-sm btn-icon btn-default  btn-default' do %>
            <i class="fa fa-pencil"></i>
          <%- end %>
        </div>

        <div class="btn-group btn-group-sm">
          <%= link_to  battle_path(battle), method: :delete, class: 'btn btn-sm btn-icon btn-danger tooltips', 'data-confirm' => 'Sure ?', 'data-placement' => 'bottom' do %>
            <i class='fa fa-trash-o'></i>
          <%- end %>
        </div>
      <%- end %>
    <% end %>
  </div>
</div>
