<div class="row p-15">
  
</div>

<div class="box box-info">
  <div class='disable_input'>
  <%= render 'layouts/admin/table_header' %>

  <%= form_for @battle, url: battle_path(@battle) do |f| %>

   <div class="box-body">
    <div class="form-group col-xs-12">
    <%= f.label :id, class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= @battle.id %>
      </div>
    </div>
   </div>
  
    <%= render 'fields', f: f, battle: @battle, fields_disabled: true, type_hidden: "hidden" %>

  <% end %>
 </div>
</div>
