<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all'%>
        <%= javascript_include_tag 'application'  %>
        <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    </head>
    <body class="container">
        <div class="wrapper">
            <%= render 'layouts/navigation/layout'%>
            <div class="content-wrapper">
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>">
                        <button type="button" class="close" name="button" data-dismiss="alert" aria-hideen="true"> ×</button>
                        <%= value %>
                    </div>
                <% end %>
                <%- unless controller_name == 'home' %>
                    <div class="row p-15">
                        <%= link_to  url_for(:back), class: 'btn  btn-primary' do %>
                            <i class="fa fa-arrow-left"></i>
                        <%- end %>
                    </div>
                <% end %>
                <%= yield %>
            </div>
            <!-- <%= render 'layouts/navigation/footer' %> -->
        </div>
    </body>
</html>
